.jumbotron {
  background-image:url('http://www.alwaysonpurpose.com/wp-content/uploads/2015/04/happypeople.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  color: #00000;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar li {
  display: inline;
}

h1 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.jumbotron .container {
  position: relative;
  top: 5px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: grey;
  text-decoration: none;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.aboutusinfo {
  text-align: center;
}

.aboutus {
  text-align: center;
}

.locations {
  padding-top: 50px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.center {
  text-align: center;
  font-size: 36px;
}

/*body {
    background-image: url("back2.jpg");
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #00000
}
*/
body {
  background-color: white;
}
.tagline {
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

td {
  background-color: #FFFFFF;
  font-family: "Verdana", Geneva, sans-serif;
    border-top: 5px solid #000000;
    border-bottom: 5px solid #000000;
}
table{
    width: 100%;

}
p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #000000
  font-size: 17px;

}
h2 {
  font-family: "Verdana", Geneva, sans-serif;
  font-size: 15px;
}
a.button {
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}
}
